<div class="p-6 border rounded-xl shadow-md bg-white">
  <h2 class="text-lg font-bold mb-2 text-gray-700">Título: {{ historia.title }}</h2>
  <p class="text-sm mb-2"><strong>Descripción:</strong> {{ historia.description }}</p>
  <p class="text-sm"><strong>Estado:</strong> {{ historia.state }}</p>
</div>


<!-- File: src/app/pages/hulist/hulist.html 
<div class="contain-content w-10/12 mt-20 align-middle mx-auto">
<h1 class="font-bold text-3xl text-blue-300">Tablero de HUs</h1>
<p>Visualiza y gestiona las historias de usuario</p>


    <div id="menu">
        <nav class="flex space-x-1">
            <p class="p-4 font-bold hover: text-blue-600">Tolas las historias</p>
            <p class="p-4 font-bold hover: text-blue-600">Solo mis HUs</p>
            <p class="p-4 font-bold hover: text-blue-600">Sin asirnar</p>
        </nav>
    </div>
    <hr>
    <div class="flex p-2 border-1 border-gray-200 rounded-2xl bg-center mt-4 w-l">
        <div class="card p-10">
        <ul>
            <li>
                <h2><strong>Estado:</strong> {{ historia.state }}</h2>
                <h3><strong>Título:</strong> {{ historia.title }}</h3>
                <p><strong>Descripción:</strong> {{ historia.description }}</p>
                
            </li>
        </ul>
    </div>
    
</div>
</div>
-->